// Colors Joao Specific
$evenDarkerTextColor = #212121
$linkTextColor = #212121
$darkerTextColor = #272727
$normalTextColor = #777
$backgroundColor = #fff

$moreThanHalfGrayColor = #818181
$halfGrayColor = #8a8a8a
$redColor = #ed3200
$greenColor = #00b426 // Success
$pinkRedColor = #e72e62
$almostWhiteColor = #d1d1d1
$almostEvenWhiteColor = #f2f2f2
$blackColor = #000

// Might Not Be Needed
// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
